@tailwind utilities;
@layer utilities{ 
  .header-bg{
    height: 74px;
    background-color: whitesmoke;
} 
}
.input-size{
 width: 600px;

}
input:focus {
    outline:none;
}
.option-bg{
    background-color: whitesmoke;
}

.sellMenu{
  border-radius:40px;
  /* position: relative; */
  background-image: linear-gradient(110deg, #ffce32 20%, #23e5db 0%, #23e5db 80%, #3a77ff 30%);
  box-shadow: 1px 3px 8px #888888;
}

.sellMenu-in{
  height: 33px;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 7px;
  background-color: #fff;
  border-radius: 40px;
}

li{
  padding: 10px;
}
